/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: "roboto slab";
}
ol, ul {
    list-style: none;
    
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: "roboto slab";
    padding-top:60px;
}


/*------------------------------------*\
START / NAV
\*------------------------------------*/
header{
    display: flex;
}


.nav{
    background-color:#6B1215;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 60px;
    top:0;
    left:0;
    
}

.navlist{
    margin-right: 0px auto;
    padding: 0; 
    float: right;
}
.nav-list-item{
    text-decoration: none;
    color: white;
    font-size: 15px;
    position: relative;
    margin-left: 35px;
}
.nav-list-item:hover{
    text-decoration: none;
    border-bottom: 1px solid white;
}

li{
    list-style: none;
    display: inline-block;
}
@media only screen and (max-width: 768px){ 
    .nav{
        display: block;
    }
    .navlist{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        left: 0;
        width: 100%;
        margin-top: 60px;
        top: 0;
        background-color: #600D0F;;
        position: fixed;
        transform: translateY(-1000px);
    }
    
    .nav-list-item{
        margin-left: 0;
    }
    
    .navlist li{
        display: block;
        text-align: center;
        margin-top: -15%;
    }
    
    .withSidebar .navlist{
        transform: translateY(0);
    }
    .withSidebar .nav-list-item:hover{
        border-bottom: 1px solid white;
    }
/*------------------------------------*\
Btn
\*------------------------------------*/
.buttonBurger{
    float:right;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    height: 30px;
    width: 40px;
    padding:0;
    margin-right: 20px;
    margin-top: 15px;
  }
  .buttonBurger__top, .buttonBurger__middle, .buttonBurger__bottom{
    position: absolute;
    width: 100%;
    height: 4px;
    left:0;
    background:white;
    transition: all .4s ease;
  }
  .buttonBurger__top{
    top: 0%;
  }
  .buttonBurger__top--active{
    top: 50%;
    margin-top:-2px;
    transform: rotate(405deg);
  }
  .buttonBurger__middle{
    top: 50%;
    margin-top:-2px;
  }
  .buttonBurger__middle--active{
    transform: rotate(405deg);
  }
  .buttonBurger__bottom{
    top: 100%;
    margin-top:-4px;
  }
  .buttonBurger__bottom--active{
    top: 50%;
    margin-top:-2px;
    transform: rotate(675deg);
  }
  .buttonBurger:hover .buttonBurger__top{
    top: 50%;
    margin-top:-2px;
  }
  .buttonBurger:hover .buttonBurger__bottom{
    top: 50%;
    margin-top:-2px;
  }

    }
/*------------------------------------*\
HEADER
\*------------------------------------*/
.logo{
    background: url("img/plate2.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:calc(100vh - 60px);
}
@media only screen and (max-width: 768px){
.logo{
    background: url("img/planche.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:calc(100vh - 60px);
}
}

.logo img {
    margin: 0 auto;
    padding: 3%;
    
}

.logo h1 {
    font-family: Arizonia;
    color: white;
    font-size: 80px;
    text-align: center;
    text-shadow: 1px 1px 10px black;  
}

/*------------------------------------*\
PHONE
\*------------------------------------*/

/*------------------------------------*\
CONTAIN BLOC1
\*------------------------------------*/

h2{
    font-family: "Merriweather";
    font-size: 17px;
    font-weight: 700;
    color: #6B1215;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5%;
}

h2:before{
    content:"";
    display:inline-block;
    width:30px;
    height:59px;
    background:url(element/icon.png) no-repeat;
    background-size:100%;
    margin:0px 0px -36px 0;
}
h2:after{
    
    content:"";
    display:inline-block;
    width:30px;
    height:59px;
    background:url(element/icon.png) no-repeat;
    background-size:100%;
    margin:0px 0px -36px 0px;
}


.bloc1 > img{
    width: 100%;
    height: auto;
}

.text1{
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-align: justify;
    padding: 3%;
}

strong{
    color: #6B1215;
    font-weight: 600;
}

.strongout{
    color: #292929;
    font-weight: normal;
}

.accroche1{
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    margin-top: 3%;
    padding: 2%;
    margin-bottom: 3%;
}

hr{
    margin: 20px auto;
    width: 60%;
    height: 1px;
    background-color:#6B1215;
    border: none;
}

/*------------------------------------*\
CONTAIN BLOC2
\*------------------------------------*/
.bloc2{
    background-color: #600D0F;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bloc2 h2{
    color: white;
    font-size: 17px;
}

.bloc2 h2:before{
    content:"";
    display:inline-block;
    width:28px;
    height:59px;
    background:url(element/chef.png) no-repeat;
    background-size:100%;
    margin:0px 20px -35px 0;
}

.bloc2 h2:after{ 
    content:"";
    display:inline-block;
    width:28px;
    height:59px;
    background:url(element/chef.png) no-repeat;
    background-size:100%;
    margin:0px 0px -35px 20px;
}

.bloc2 img{
    width: 100%;
    height: auto;
    margin-top: 2%;
    padding: 6%;
    
}
.directrice{
    width: 100%;
    height: auto;
    margin-bottom: 3%;
  
}
.directeur{
    width: 100%;
    height: auto;
    margin-bottom: 3%;
    
}
.cuisinier{
    width: 100%;
    height: auto;
    margin-bottom: 3%;
   
}

.bloc2 h3{
    margin-top: -3%;
    color: white;
    text-align: center;
    font-size: 17px;
}

.bloc2 p > span{
    font-size: 15px;
}
/*------------------------------------*\
CONTAIN NUMBERS
\*------------------------------------*/
.numbers{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*------------------------------------*\
ANIMATE NUMBERS 
\*------------------------------------*/

.round {
    width: 110px;
    height: 110px;
    margin: 40px;
    border: 3px solid #ccc;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    
    -webkit-border-radius: 100px;
    /* Firefox 1-3.6 */
    
    -moz-border-radius: 100px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    
    border-radius: 100px;
  }
  
  .num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 38%;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.4rem;
    color: #999;
  }
  .numberstext{
      text-align: center;
      width: 100%;
      height: auto;
      margin-top: -15%;
      margin-bottom: 5%;
      font-family: "merriveather";
      font-weight: 600;
      color: #333333;
  }
/*------------------------------------*\
AVIS
\*------------------------------------*/
.avis{
    background: url("element/platetall2.png") no-repeat center center;
    background-size: cover;
    margin-top: -10%;
}
.avis article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avis p{
      margin-top: 50%;
      color: white;
      text-align: center;
      font-size: 0.8rem;
}

  .white{
      color: white;
}

.avis img {
      justify-content: center;
      width: 40%;
      height: auto;
      margin-bottom: -5%;
}

/*------------------------------------*\
FOOTER
\*------------------------------------*/
.lien{
    background-color: #600D0F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .lien img{
    padding: 10px;
    margin-top: 20%;
    margin-bottom: 30%;
}

footer .lien p{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.8rem;
    margin-bottom: 15%;
}

.copyright{
    text-align: center;
    width: 100%;
    height: auto;
    color:white;
    font-size: 0.5rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 5%;
}
/*------------------------------------*\
PHONE TALL
\*------------------------------------*/
@media only screen and (min-width: 500px){
/*------------------------------------*\
HEADER
\*------------------------------------*/
.logo h1{
    font-size: 100px;
}
/*------------------------------------*\
BLOC1
\*------------------------------------*/
    h2{
       font-size: 1.3rem; 
    }

    h2:before{
        
        width:40px;
        height:59px;
        margin:0px 10px -30px 0;
    }

    h2:after{ 
        
        width:40px;
        height:59px;
        margin:0px 0px -30px 10px;
    }
    .text1{
        font-size: 15px;
    }
/*------------------------------------*\
BLOC2
\*------------------------------------*/
.bloc2 h2{
    color: white;
    font-size: 1.3rem;
}

.bloc2 h2:before{
    width:30px;
    margin:0px 80px -35px 0;
}

.bloc2 h2:after{ 
    width:30px;
    margin:0px 0px -35px 80px;
}
}
/*------------------------------------*\
TABLETTE
\*------------------------------------*/
@media only screen and (min-width: 768px){

/*------------------------------------*\
CONTAIN BLOC1
\*------------------------------------*/
.bloc1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bloc1 img{
    width: 50%;
    height: 50%;
}
h2{
    font-size: 1.5rem;
}
h2:before{
    margin:0px 50px -30px 0;
}
h2:after{
    margin:0px 0px -30px 50px;
}
.text1{
    width: 50%;
    height: auto;
    font-size: 16px;
}
.accroche1{
    width: 100%;
    height: auto;
    font-size: 16px;
}

/*------------------------------------*\
CONTAIN BLOC2
\*------------------------------------*/
.bloc2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bloc2 h2{
    width: 100%;
    font-size: 1.4rem;
}
.directrice{
    width: 30%;
    height: 30%;
}
.directeur{
    width: 30%;
    height: 30%;
}
.cuisinier{
    width: 30%;
    height: 30%;
}
/*------------------------------------*\
CONTAIN NUMBERS
\*------------------------------------*/
.numbers{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*------------------------------------*\
ANIMATE NUMBERS
\*------------------------------------*/

.round {
    width: 100px;
    height: 100px;
    margin: 50px;
    border: 3px solid #ccc;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    
    -webkit-border-radius: 100px;
    /* Firefox 1-3.6 */
    
    -moz-border-radius: 100px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    
    border-radius: 100px;
  }
  
  .num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 38%;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.4rem;
    color: #999;
  }
  .numberstext{
      text-align: center;
      width: 100%;
      height: auto;
      font-size: 1rem;
      font-family: "merriveather";
      font-weight: 600;
      color: #333333;
  }
  /*------------------------------------*\
AVIS
\*------------------------------------*/
.avis p{
    font-size: 0.9rem;
}
}

/*------------------------------------*\
SCREEN
\*------------------------------------*/
@media only screen and (min-width: 1024px){
/*------------------------------------*\
CONTAIN BLOC1
\*------------------------------------*/
h2{
    font-size: 1.7rem;
}

h2:before{
    margin:0px 80px -30px 0;
}

h2:after{
    margin:0px 0px -30px 80px;
}

.bloc1 img{
    width: 30%;
    height: 50%;
}
.text1{
    width: 30%;
    height: auto;
}
.accroche1{
    width: 100%;
    height: auto;
}

hr{
    width: 30%;
}

/*------------------------------------*\
CONTAIN BLOC2
\*------------------------------------*/
.bloc2 h2{
    width: 100%;
    font-size: 1.6rem;
}
.bloc2{
    justify-content: space-evenly;
}

.directrice{
    width: 20%;
    height: 20%;
    
}
.directeur{
    width: 20%;
    height: 20%;
}
.cuisinier{
    width: 20%;
    height: 20%;
}

/*------------------------------------*\
CONTAIN NUMBERS
\*------------------------------------*/
.numbers{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*------------------------------------*\
ANIMATE NUMBERS
\*------------------------------------*/

.round {
    width: 110px;
    height: 110px;
    margin: 60px;
    border: 3px solid #ccc;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    
    -webkit-border-radius: 100px;
    /* Firefox 1-3.6 */
    
    -moz-border-radius: 100px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    
    border-radius: 100px;
  }
  
  .num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 38%;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.4rem;
    color: #999;
  }
  .numberstext{
      text-align: center;
      width: 100%;
      height: auto;
      font-size: 1rem;
      font-family: "merriveather";
      font-weight: 600;
      color: #333333;
  }
/*------------------------------------*\
AVIS
\*------------------------------------*/
.avis p{
    font-size: 1rem;
}
/*------------------------------------*\
FOOTER
\*------------------------------------*/
footer .lien img{
    margin-top: 50%;
    margin-bottom: 50%;
}
footer .lien p{
    font-size: 0.9rem;
    margin-bottom: 15%;
}

.copyright{
    font-size: 0.6rem; 
}
}

/*------------------------------------*\
TALL SCREEN
\*------------------------------------*/
@media only screen and (min-width: 1650px){
/*------------------------------------*\
CONTAIN BLOC1
\*------------------------------------*/
.bloc1{
    margin-top: 5%;
}
.bloc1 img{
    width: 30%;
    height: 50%;
}
.text1{
    font-size: 18px;
    width: 30%;
    height: auto;
}
.accroche1{
    font-size: 18px;
    width: 100%;
    height: auto;
}

hr{
    width: 25%;
}
/*------------------------------------*\
CONTAIN NUMBERS
\*------------------------------------*/
.numbers{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*------------------------------------*\
ANIMATE NUMBERS
\*------------------------------------*/

.round {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 100px;
    border: 3px solid #ccc;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    
    -webkit-border-radius: 100px;
    /* Firefox 1-3.6 */
    
    -moz-border-radius: 100px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    
    border-radius: 100px;
  }
  
  .num {
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 33%;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.5rem;
    line-height: 30px;
    color: #999;
  }
  .numberstext{
      text-align: center;
      margin-top: -23%;
      font-family: "merriveather";
      font-weight: 600;
      color: #333333;
  }
/*------------------------------------*\
AVIS
\*------------------------------------*/
.avis p{
    font-size: 1.3rem;
}

.avis img{
    width: 30%;
}
/*------------------------------------*\
FOOTER
\*------------------------------------*/
footer .lien img{
    margin-top: 50%;
    margin-bottom: 50%;
}
footer .lien p{
    font-size: 1rem;
    margin-bottom: 10%;
}

.copyright{
    font-size: 0.6rem;
}
}